{% load static %}

<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font/fontawesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Shopata System</title>
</head>
<body>
    <div class=" container paragraph">
        <div class="row heading">
            <div class="logo">
                <i><img src="{% static 'logo/Shopata(1).png'%}" alt="logo" height="150px" width="150px"></i>
            </div>
            <div class="navbar justify-content-center col-10 m-2">
                <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Account</a>
                        <div class="submenu1">
                            <ul>
                                <li><a href="{% url 'account_registration' %}">SignUp</a></li>
                                <li><a href="#">SignIn</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">AboutUs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
    </div>
    {% block content %} 
    {% endblock %}
</body>
</html>