{% extends 'base.html' %}
{% load static %}


{% block content %} 
    <div id="signupmaindiv" class="signupmaindiv">
        <div class=" col-6 offset-4  myform">
            <form action = '' class="signupform" method = 'POST'>
                {% csrf_token %}
                <h2>Sign Up Here</h2>
                <label for="retailername">Shop Name</label>: <input type="text" name="retailer_name" placeholder="Enter Name" required ><br>
                <label for="retaileremail">Email</label>: <input type="text" name="rmail"  required><br>
                <label for="retailerlocation">Location</label>: <input type="" name="location"><br>
                <label for="password">Password</label>: <input type="password" required name="retailer_password">
                <button class="btn btn-success" type="submit">Sign Up</button> 
                <h6><a href="#">Already have an account? Sign in</a></h6>
            </form>
        </div>
    </div>
{% endblock %}